<article class="listing">
    <a href="/listings/{{id}}">
        <div class="listing-content">
            <div class="listing-image-container">
                <img class="listing-image" src="{{imgSource}}" alt="{{productName}}">
            </div>
            <p class="listing-name">
                {{productName}}
            </p>
            <p class="listing-description">
                {{description}}
            </p>
            <p class="listing-price">
                Buy ${{price}}
            </p>
            <p class="listing-stock">
                {{numRemaning}} left in stock
            </p>
            <p class="listing-rating">
                {{rating}}/5
            </p>
        </div>
    </a>
</article>